footer; aside; section; article; header; nav {
	float: left;
	margin-bottom: 10px;
}
header {
  background-color: gray;
  width: 70%;
  height: 50px; 
	margin: 0 auto;
	margin-bottom: 10px;
}
nav {
  background-color: gray;
  width: 70%;
  height: 100px; 
	margin: 0 auto;
	margin-bottom: 10px;
}
article {
	display: inline-block;
  background-color: gray;
  width: calc(35% - 6px);
  height: 100px; 
	margin: 0 auto;
	margin-left:15%;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.site p{
	margin: 0;
}
section {
	display: none;
  background-color: darkgray;
  width: 80%;
  height: 40px; 
	margin: 0 auto;
}
aside {
	display: inline-block;
  background-color: gray;
  width: calc(35% - 6px);
  height: 100px; 
	margin: 0 auto;
	margin-bottom: 10px;
	margin-left: 8px;
	box-sizing: border-box;
}
footer {
  background-color: gray;
  width: 70%;
  height: 100px; 
	margin: 0 auto;
	margin-bottom: 10px;
}

